name: package

on:

  # Workflow run will run after another job has completed
  # so we wait for the workflow to complete then get going
  workflow_run:
    workflows:
      - 'testing'

    branches:
      - 'master'
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

    types:
      - completed

  pull_request:

jobs:
  package:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Java Setup
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'

      - name: package
        working-directory: freemarker-wrapper/
        run: |
          mvn -B package --file pom.xml

      - name: add build details
        run: |
          pip install hamlet-cli
          hamlet engine add-engine-source-build

      - name: upload build details
        uses: actions/upload-artifact@v2
        with:
          name: build-details
          path: .hamlet/engine_source.json

      - name: upload wrapper
        uses: actions/upload-artifact@v2
        with:
          name: engine-wrapper
          path: freemarker-wrapper/target/freemarker-wrapper-*.jar


  release_tag:
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.ref, 'refs/tags/') }}
    needs:
      - package
    runs-on: ubuntu-latest

    steps:
      - name: Get wrapper
        uses: actions/download-artifact@v2
        with:
          name: engine-wrapper
          path: ./

      - name: Create Releases
        uses: ncipollo/release-action@v1.8.6
        with:
          artifacts: '**/*.jar'
          token: ${{ secrets.GITHUB_TOKEN }}


  docker_build:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs:
      - package

    steps:

      - uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: get wrapper
        uses: actions/download-artifact@v2
        with:
          name: engine-wrapper
          path: ./

      - name: get build details
        uses: actions/download-artifact@v2
        with:
          name: build-details
          path: ./.hamlet/

      - name: docker meta details
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/${{github.repository}}
          flavor: |
            latest=auto
          tags: |
            type=semver,pattern={{version}}
            type=edge,branch=master

      - id: find_wrapper_file
        name: find_wrapper_file
        run: |
          echo ::set-output NAME=WRAPPER_FILE_NAME::$(ls | grep freemarker-wrapper*.jar)

      - name: build and push container
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ startsWith(github.ref, 'refs/tags/*') || github.ref == 'refs/heads/master' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: base_package
          build-args: |
            wrapper_file_name=${{steps.find_wrapper_file.outputs.WRAPPER_FILE_NAME}}
